[submodule "home/.vim/bundle/vundle"]
	path = home/.vim/bundle/vundle
	url = http://github.com/gmarik/vundle.git
[submodule "iterm/iTerm2-Color-Schemes"]
	path = iterm/iTerm2-Color-Schemes
	url = git@github.com:mbadolato/iTerm2-Color-Schemes.git
