[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/.vim/bundle/surround"]
	path = vim/.vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
