[user]
	name = Francesc Rosàs
	email = francescrosasbosque@gmail.com
[color]
    ui = true
[core]
	excludesfile = ~/.gitignore
[github]
	user = frosas
[push]
	default = simple
[alias]
    ci = commit
    co = checkout
    b = branch
    f = fetch --all --prune
    m = merge --ff-only @{u}
    s = stash -u
    sp = stash pop
    dirty-files = "!git status -s | awk '{print $2}'"
