[user]
	name = Francesc Rosàs
	email = francescrosasbosque@gmail.com
[color]
    ui = true
[core]
	excludesfile = ~/.gitignore
[github]
	user = frosas
[push]
	default = simple
[rebase]
    autosquash = true
[alias]
    ci = commit -v
    co = checkout
    b = branch
    fetch-all = fetch --all --prune
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset'
    # la = (see git-la file)
    m = merge
    merge-upstream = merge --ff-only @{u}
    s = stash save -u
    sp = stash pop
    ss = stash show -v 
    sl = stash list
    untracked-files = ls-files -o --exclude-standard
    ap = add -p
    cp = checkout -p
    p = pull --ff-only
    remote-branches-by-date = for-each-ref --sort=committerdate refs/remotes --format='%(refname:short) %(committerdate:short) %(authorname)'
    web = instaweb -d webrick
    c = clean -df
    h = help
    r = rebase
    a = add
    wip = ! git a . && git ci -m WIP
    amend = commit --amend --allow-empty -v
[hub]
	host = ewegithub.sb.karmalab.net
