"*":
  "exception-reporting":
    userId: "70a0032d-3fb2-4bcb-e887-64623e256e19"
  "release-notes":
    viewedVersion: "0.95.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "ba44e3beb28ecd4cac067ffa00fb25caece41ae8"
  editor:
    fontFamily: "Hack"
    showIndentGuide: true
    invisibles: {}
    softWrapAtPreferredLineLength: true
    undoGroupingInterval: 50
    tabLength: 4
    fontSize: 13
    nonWordCharacters: "/\\()\"':,.;<>~!@#%^&*|+=[]{}`?-…"
  core:
    disabledPackages: [
      "spell-check"
      "whitespace"
      "tree-view-git-modified"
    ]
    audioBeep: false
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
    ]
  "atom-jshint":
    showErrorPanel: false
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
    useGitHubStyle: true
  "autoclose-html":
    closeOnEndOfOpeningTag: true
    forceInline: [
      "div"
      "span"
      "title"
      "h1"
      "h2"
      "h3"
      "h4"
      "h5"
      "h6"
      "p"
    ]
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "tree-view":
    hideIgnoredNames: true
  "recent-files":
    updated: false
  "todo-show":
    findTheseRegexes: [
      "FIXMEs"
      "/\\WFIXME\\W(.+$)/g"
      "TODOs"
      "/\\WTODO\\W(.+$)/g"
      "CHANGEDs"
      "/\\WCHANGED\\W(.+$)/g"
    ]
  "auto-update-packages":
    intervalMinutes: 60
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
    backspaceTriggersAutocomplete: true
  whitespace: {}
  jsformat:
    format_on_save: false
  linter:
    statusBar: "None"
    showGutters: false
    showErrorPanel: false
    showErrorTabFile: false
    showErrorTabProject: false
    statusIconScope: "File"
  "vim-mode":
    useSmartcaseForSearch: true
  "git-diff":
    showIconsInEditorGutter: true
  emmet: {}
  "linter-eslint":
    showRuleIdInMessage: true
    disableWhenNoEslintrcFileInPath: true
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  "atom-fuzzy-grep":
    detectGitProjectAndUseGitGrep: false
    grepCommandString: "/usr/local/bin/ag"
  minimap:
    plugins:
      "git-diff": true
      "find-and-replace": true
      linter: true
      codeglance: true
      "minimap-autohide": true
  "fuzzy-finder": {}
  "minimap-codeglance":
    numberOfLines: 10
    showLineNumbers: false
  "atom-ctags":
    autoBuildTagsWhenActive: true
  "atom-beautify":
    _analyticsUserId: "4a06949d-cca0-4957-b8b7-18a5ac006998"
  "copy-as-rtf": {}
