"DCTK JS":
  title: "DCTK JS"
  paths: [
    "/Users/frosasbosque/src/datacapture-toolkit/datacapture/src/main/resources/datacapture/js"
  ]
DCTK:
  title: "DCTK"
  paths: [
    "/Users/frosasbosque/src/datacapture-toolkit"
  ]
"Expweb (trunk)":
  title: "Expweb (trunk)"
  paths: [
    "/Users/frosasbosque/src/expweb/trunk"
  ]
