'.text.html':
    '<script>':
        'prefix': 'script'
        'body': '<script>\n\t$1\n</script>$2'
    '<script src>':
        'prefix': 'scriptsrc'
        'body': '<script src="$1"></script>'
    '<style>':
        'prefix': 'tag'
        'body': '<$1>\n\t$2\n</$1>'
    # '':
    #     'prefix': 'indent'
    #     'body': '\n\t$1\n'

'.source.js':
    'var … = require(\'…\');':
        'prefix': 'require'
        'body': 'var $1$2 = require(\'$1\');'
    'function(…) {…}':
        'prefix': 'f'
        'body': 'function($1) {$2}$3'
    '… => …':
        'prefix': 'fa' # "Fat arrow"
        'body': '$1 => {$2}$3'
    'constructor(…) {…}':
        'prefix': 'constructor ' # Atom acts wierd with just 'constructor'
        'body': 'constructor($1) {$2}'
    '(function() {…})()':
        'prefix': 'iife' # Immediately Invoked Function Expression
        'body': '(function() {$1})()'
